= f.text_area :body, value: "1. Error - Set Up - Row 1: There is a problem with...", class: "span12"
p
= f.label :confidence, "<h5>How confident are you that this pattern is ready for release?</h5>".html_safe
small.text-error 1: not confident at, it's riddled with errors/incomplete.
br
small.text-success 10: 100% confident that this is ready.
p
small.muted "Technical errors" are errors specific to the instructions that would lead to errors in knitting. This does not include style preferences for wording, PDF formatting issues, or typos.
p
= f.select :confidence, [["1 - I'd be livid if I bought this", "1"], ["2 - Almost unworkable", "2"], ["3 - I barely got through it", "3"], ["4 - I had to guess a lot", "4"], ["5 - Many technical errors", "5"], ["6 - Moderate technical errors", "6"], ["7 - A few technical errors", "7"], ["8 - No technical errors, but still issues", "8"], ["9 - Very minor non-technical problems", "9"], ["10 - Flawless and awesome", "10"]]
p