.alert.alert-danger <strong>This pattern has a chart but no chart legends.</strong> #{link_to "<i class='icon-key'></i> &nbsp; Add chart legends".html_safe, new_pattern_chart_legend_path(pattern), class: "btn btn-warning"}<br>You cannot download a PDF unless at least one chart legend is added.