.alert.alert-danger <strong>This pattern has no images.</strong> #{link_to "<i class='icon-camera'></i> &nbsp; Add images".html_safe, new_pattern_image_path(pattern), class: "btn btn-warning"}<br>You cannot download a PDF unless images are added.