.alert.alert-danger <strong>This pattern has no abbreviations.</strong> #{link_to "<i class='icon-wrench'></i> Add abbreviations".html_safe, new_pattern_abbreviation_path(pattern.id), class: "btn btn-warning"}<br> You cannot download a PDF unless abbreviations are added.