small.muted
  p.text-right Charts are not required, but this pattern has no charts. <br>#{link_to "<i class='icon-ellipsis-horizontal'></i> &nbsp; Add chart".html_safe, new_pattern_chart_path(pattern), class: "btn btn-mini"}