h1 #{@pattern.name}

h3 Basic Information

p Needle: #{@pattern.needle}
p Gauge: #{@pattern.gauge}
p Yarn shown: #{@pattern.yarn_info}
p Yarn required: #{@pattern.yarn}
p Notions: #{@pattern.notions}
p Finished size(s): #{@pattern.finished_sizes}

h3 Description
p #{@pattern.description}

h3 Instructions
- @pattern.sections.each do |section|
  h4 #{section.title}
  p #{section.description}
  - section.rows.each do |row|
    p Row #{row.num} #{row.side if row.side != ""}: #{row.instructions}
  p #{section.instructions}
end