$sanserif: 'proxima nova', Arial, sans-serif;
$text-color-main: #333333;
$text-color-darker: #01A2A6;
$text-color-lighter: #666666;
$accent-color-main: #29D9C2;
$background-color: #ffffff;
$nav-spacing: 10px;
$small-font: 0.8em;