@import "variables";

// Core styles

body {
  font-family: $sanserif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7em;
  color: $text-color-main;
}

.alert { color: red; }

p {
  font-family: $sanserif;
  text-align: justify;
}

.small {
  font-size: $small-font;
}

.button-attn {
  font-size: $small-font * 1.5;
  background: $accent-color-main;
  padding: 8px;
  border-radius: 20px;
}

.button-less-attn {
  font-size: $small-font;
  background: $accent-color-main;
  padding: 8px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: $text-color-darker;
  font-weight: 600;
}

input[type=text], textarea {
  border: 1px solid #ccc;
  padding: 3px;
  width: 95%;
  font-family: $sanserif;
  font-size: 1em;
  line-height: 1.25em;
  color: #666;
}

input[type=submit] {
  border: 3px solid $accent-color-main;
  background: $text-color-darker;
  color: $text-color-lighter;
  padding: 10px;
  font-family: $sanserif;
  font-size: $small-font * 2;
  line-height: 1.25em;
  font-weight: 700;
}

.border {
  border-bottom: 3px solid $text-color-darker;
  padding-top: 25px;
  margin-bottom: 25px;
}

.center {
  text-align: center;
}